extends ../components/base/layout

block variables
  - const title = "About Us" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--nav-about"
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks

    +page-content()
      +page-section().page-section--fourth-padding-top
        +title-page-about()
      +page-section().page-section--top-position
        +about-page-about()
      +page-section().page-section--bottom-position
        +advantages({textName: true, title: true}).advantages--about
      +page-section()
        +choose-page-about()
      +page-section()
        +team()
      +page-section()
        +partners().partners--about
      +page-section().page-section--no-padding-top
        +form()
