extends ../components/base/layout

block variables
  - const title = "Blog"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--nav-blog"
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = ""

block main
  main
    +page-content().page-content--105
      +page-section().page-section--fifth-padding-top
        +title-page-blog()
      +page-section().page-section--no-padding-top
        +blog-page()
      +page-section()
        +form()
