extends ../components/base/layout

block variables
  - const title = "Test_project" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks

    +page-content()
      +page-section()
        +title-page-blog()
      +page-section()
          +author-date({authorName: "NASYIYA ULFA", date: "25 NOV 2022"})
      +page-section()
        +form()
