mixin about(data = {})
  -
    const list = [
      {text: "Cutting-Edge Technology"},
      {text: "Versatile Applications"},
      {text: "Affordable and Accessible"},
    ]

    const button = {
      href: "#",
      text: "read more",
    }

  .about
    .container
      .about__wrapper
        .about__decor
          .about__decor-man(data-parallax-mouse, data-movement="50")
            +picture("content", "about-man", "png", 1029, 785, "мужчина в очках виртуальной реальности")
          .about__decor-glasses(data-parallax-mouse, data-movement="20")
            +picture("content", "about-glasses", "png", 196, 128, "очки виртуальной реальности")
        .about__box
          .about__inner
            +title({tag: "h2", text: "ABOUT US"}).title--h2
            p Bring your events to&nbsp;life like never before with our&nbsp;VR services.
          .about__content
            .about__text
              p VRNas is&nbsp;a&nbsp;leading provider of&nbsp;VR services for education, entertainment, architecture, and events. Our mission is&nbsp;to&nbsp;bring the power of&nbsp;virtual reality to&nbsp;everyone, allowing them to&nbsp;explore new worlds, learn in&nbsp;new ways, and experience events in&nbsp;a&nbsp;whole new light.
            ul.about__list
              each item in list
                li.about__item
                  span
                    +icon("icon-check-mark", 16, 16, true)
                  p!=item.text
            +btn({href: button.href, text: button.text})(aria-label="Переход по ссылке")
