mixin blog-page(data = {})
  -
    const badge = {
      text: "VR Architecture"
    }

    const title = {
      text: "Bringing Designs to&nbsp;Life: How VR&nbsp;is&nbsp;Changing Architecture"
    }

    const authorDate = {
      authorName: "NASYIYA ULFA",
      date: "25 NOV 2022"
    }

    const picture = {
      path: "content",
      image: "blog-content",
      format: "jpg",
      width: "789",
      height: "528",
      altText: "мужчина в очках виртуальной реальности",
    }

    const texts = [
      {
        text: "Architecture is&nbsp;an&nbsp;art and science that is&nbsp;constantly evolving with technology. The industry has gone through various transformations over the years, from pencil and paper sketches to&nbsp;computer-aided design (CAD) software. However, one technology that is&nbsp;revolutionizing architecture is&nbsp;virtual reality (VR) design."
      },
      {
        text: "With VR&nbsp;design, architects can bring their designs to&nbsp;life and offer clients an&nbsp;immersive experience that was previously impossible. The technology enables architects to&nbsp;create a&nbsp;virtual representation of&nbsp;their designs, allowing clients to&nbsp;step into the building and explore its features and spaces before it&nbsp;is&nbsp;built."
      },
      {
        text: "VR&nbsp;design is&nbsp;a&nbsp;game-changer for architects and clients alike. It&nbsp;enables architects to&nbsp;design with a&nbsp;greater level of&nbsp;detail and precision, allowing them to&nbsp;identify design flaws and make necessary modifications before construction begins. This not only saves time and money but also ensures that the final product meets the client&rsquo;s expectations."
      },
      {
        text: "Clients can also benefit from&nbsp;VR design by&nbsp;having a&nbsp;better understanding of&nbsp;the design and how it&nbsp;will look and feel in&nbsp;real life. It&nbsp;allows them to&nbsp;experience the design in&nbsp;a&nbsp;more realistic way, helping them make informed decisions and providing valuable feedback to&nbsp;the architects."
      },
      {
        text: "Moreover, VR&nbsp;design is&nbsp;not only limited to&nbsp;the design phase. It&nbsp;can also be&nbsp;used in&nbsp;the construction process to&nbsp;visualize the project&rsquo;s progress and identify any issues that may arise."
      },
    ]

    const pictureAdd = [
      {
        path: "content",
        image: "blog-content-1",
        format: "jpg",
        width: "377",
        height: "252",
        altText: "знак бесконечности",
      },
      {
        path: "content",
        image: "blog-content-2",
        format: "jpg",
        width: "377",
        height: "252",
        altText: "очки виртуальной реальности",
      },
    ]

    const textsAdd = [
      {
        text: "Architecture is&nbsp;an&nbsp;art and science that is&nbsp;constantly evolving with technology. The industry has gone through various transformations over the years, from pencil and paper sketches to&nbsp;computer-aided design (CAD) software. However, one technology that is&nbsp;revolutionizing architecture is&nbsp;virtual reality (VR) design."
      },
      {
        text: "With VR&nbsp;design, architects can bring their designs to&nbsp;life and offer clients an&nbsp;immersive experience that was previously impossible. The technology enables architects to&nbsp;create a&nbsp;virtual representation of&nbsp;their designs, allowing clients to&nbsp;step into the building and explore its features and spaces before it&nbsp;is&nbsp;built."
      },
    ]

    const hashtag = {
      postTags: true,
      title: "Post Tags :",
      hashtags: [
        {
          text: "VRDesign"
        },
        {
          text: "ArchitectureInnovation"
        },
        {
          text: "VirtualRealityArchitecture"
        },
        {
          text: "BringingDesignsToLife"
        },
        {
          text: "DesignVisualization"
        },
        {
          text: "ArchitecturalVisualization"
        },
        {
          text: "RevolutionizingArchitecture"
        },
        {
          text: "BuildingInVR"
        },
        {
          text: "DesignThinking"
        },
        {
          text: "VRInArchitecture"
        },
      ],
    }

    const share = {
      title: "Share :",
      shareLink: [
        {
          href: "#",
          iconName: "icon-twitter",
          iconWidth: "20",
          iconHeight: "16"
        },
        {
          href: "#",
          iconName: "icon-facebook",
          iconWidth: "12",
          iconHeight: "21"
        },
        {
          href: "#",
          iconName: "icon-instagram",
          iconWidth: "24",
          iconHeight: "24"
        },
      ],
    }

  .blog-page
    .container
      +blog-content({badge, title, authorDate, picture, texts, pictureAdd, textsAdd, hashtag, share})
