mixin choose(data = {})
  -
    const list = [
      {
        text: "We&nbsp;are proud of&nbsp;our team of&nbsp;VR experts who are passionate about&nbsp;VR and dedicated to&nbsp;delivering the highest quality work. Our team consists of&nbsp;experienced&nbsp;VR developers, designers, and technicians who have a&nbsp;proven track record of&nbsp;creating immersive and engaging&nbsp;VR experiences.",
        buttonText: "Passionate and Experienced Team",
      },
      {
        text: "We&nbsp;are proud of&nbsp;our team of&nbsp;VR experts who are passionate about&nbsp;VR and dedicated to&nbsp;delivering the highest quality work. Our team consists of&nbsp;experienced&nbsp;VR developers, designers, and technicians who have a&nbsp;proven track record of&nbsp;creating immersive and engaging&nbsp;VR experiences.",
        buttonText: "Customized Solutions",
      },
      {
        text: "We&nbsp;are proud of&nbsp;our team of&nbsp;VR experts who are passionate about&nbsp;VR and dedicated to&nbsp;delivering the highest quality work. Our team consists of&nbsp;experienced&nbsp;VR developers, designers, and technicians who have a&nbsp;proven track record of&nbsp;creating immersive and engaging&nbsp;VR experiences.",
        buttonText: "Exceptional Customer Service",
      },
    ]

  .choose
    .container
      .choose__wrapper
        .choose__box
          .choose__inner
            +title({tag: "h2", text: "WHY CHOOSE US"}).title--h2
            p Why Choose Us&nbsp;for Your VR&nbsp;Needs
          .choose__accordion.accordion(data-accordion="parent" data-single)
            ul.choose__list
              each item in list
                li.choose__item
                  .accordion__element(data-accordion="element")
                    .choose__button
                      +btn({text: item.buttonText})(aria-label="открывает элемент аккордиона").accordion__button(data-accordion="button")
                      span
                        +icon("icon-arrow", 7, 4)
                    .accordion__content(data-accordion="content")
                      .accordion__wrapper
                        p!=item.text
        .choose__decor
          .choose__decor-man(data-parallax-mouse, data-movement="50")
            +picture("content", "choose-man", "png", 1029, 785, "мужчина в очках виртуальной реальности")
          .choose__decor-glasses(data-parallax-mouse, data-movement="20")
            +picture("content", "choose-glasses", "png", 196, 128, "очки виртуальной реальности")
