mixin page-intro(data = {})
  .page-intro
    .container
      .page-intro__wrapper
        .page-intro__inner
          +title({tag: "h1", text: "Immerse Yourself<br>in&nbsp;Virtual Reality"}).title--h1
          p Experience Unforgettable Events in&nbsp;VR. Bring your events to&nbsp;life like never before with our&nbsp;VR services
          +btn({href: "#", text: "discover more"})(aria-label="Переход по ссылке")
        +happy-client({
          foto: [
            {
              path: "content",
              image: "foto-client-1",
              format: "png",
              width: "51",
              height: "51",
              altText: "фото счастливого клиента",
              number: "1"
            },
            {
              path: "content",
              image: "foto-client-2",
              format: "png",
              width: "51",
              height: "51",
              altText: "фото счастливого клиента",
              number: "2"
            },
            {
              path: "content",
              image: "foto-client-3",
              format: "png",
              width: "51",
              height: "51",
              altText: "фото счастливого клиента",
              number: "3"
            },
          ],
          number: "32k+ ",
          text: "Happy Client"
        })
      .page-intro__decor
        +icon("icon-decor-header", 1120, 716, true)

    if data.advantages
      +advantages()
        .page-intro__decor-man
          +img("content", "page-intro-man", "png", 987, 760, "мужчина в очках виртуальной реальности")
        .page-intro__decor-rectangle
          +img("content", "page-intro-rectangle", "png", 196, 128, "мальчик в очках виртуальной реальности")
        .page-intro__decor-line
          +icon("icon-decor-line-header", 2682, 721, true)
