mixin title-page-blog(data = {})
  -
    const title = {
      text: "Blog",
      hidden: true,
    }

  .title-page-blog
    .container
      +title-page({title}).title-page--no-line
        +breadcrumbs(
          {list:
            [
              {text: "Home", href: "index.html"},
              {text: "Blog", href: "#"},
              {text: "Bringing Designs to&nbsp;Life: How VR&nbsp;is&nbsp;Changing Architecture"},
            ]
          }
        )
