mixin title-page-about(data = {})
  .title-page-about
    .container
      .title-page-about__wrapper
        +title({tag: "h1", text: "About Us"}).title--h1
        .title-page-about__decor-element
          +icon("decor-element", 669, 367, true)
        +breadcrumbs(
          {list:
            [{text: "Home", href: "index.html"}, {text: "About us"}]
          }
        )
