.accordion {
  max-width: 548px;
  margin: 0 0 50px;

  @include vp-1023 {
    max-width: 100%;
    margin: 0 auto 50px;
  }

  & & {
    width: 90%;
    margin: 0 auto;
  }

  &__element {
    margin-bottom: 48px;
      svg {
        transition: transform $trans-default;
      }
  }

  &__element.is-active {
      svg {
        transform: rotate(180deg);
      }
  }

  &__button {
    width: 100%;
    padding: 0 0 12px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: capitalize;
    background: transparent;
  }

  &__wrapper {
    padding-top: 12px;

    p {
      color: $color-light-grey;
    }
  }
}
