.breadcrumbs {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    margin-right: 14px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &:last-child {
      margin: 0;
      font-weight: 300;
      line-height: 28px;
      pointer-events: none;

      span {
        color: $color-light-grey;
        display: -webkit-box;
        text-align: left;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    svg {
      width: 9px;
      height: 5px;
      margin-left: 10px;
      transform: rotate(-90deg);
    }
  }
}
