.header {
  width: 100%;
  // padding: 31px 0;
  background-color: $color-transparent;
  // top: 0;
  z-index: 50;

  &--base {
    backdrop-filter: none;
  }

  &--blur {
    backdrop-filter: blur(5px);
  }

  &__box--sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 31px 0;

    @include vp-767 {
      padding: 43px 0;
    }

    &.is-open {
      .header__menu {
        @include vp-1023 {
          visibility: visible;
          opacity: 1;
        }
      }

      .header__item {
        @include vp-1023 {
          visibility: visible;
          opacity: 1;
        }
      }

      .header__button {
        @include vp-1023 {
          &--icon-open {
            opacity: 0;
          }

          &--icon-close {
            opacity: 1;
          }
        }
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 2.55fr;
    align-items: center;

    @include vp-1023 {
      grid-template-columns: 1fr 1fr;
    }
  }

  & .logo svg,
  & .logo {
    z-index: 100;
    width: 101px;
    height: 30px;
  }

  &__nav {
    display: flex;
    justify-content: end;
  }

  &__button {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 100;
    width: 32px;
    height: 32px;
    margin: 0 0 0 auto;
    transition: opacity $trans-default;

    @include vp-1023 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--icon-open,
    &--icon-close {
      position: absolute;
      width: 16px;
      height: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: opacity $trans-default;
    }

    &--icon-open {
      opacity: 1;
    }

    &--icon-close {
      opacity: 0;
    }

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  &__list {
    display: flex;
    margin: 0 0 0 10px;
    padding: 0;
    list-style: none;

    @include vp-1023 {
      flex-direction: column;
      margin: 116px 0 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 64px;
    font-weight: 300;
    transition: opacity $trans-default, visibility $trans-modal;

    @include vp-1023 {
      position: relative;
      margin: 0;
      min-height: 54px;
      visibility: hidden;
      opacity: 0;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $color-accent-main;
      }

      &:last-child {
        margin-bottom: 50px;
        &::before {
          content: none;
        }
      }

    }
  }

  &__link {
    color: $color-default-white;
    transition: opacity $trans-default;

    // &.is-active {
    //   opacity: 0.6;
    // }
  }

  &__decor {
    z-index: -1;
    width: 1120px;
    height: 716px;
    position: absolute;
    top: -300px;
    right: -350px;
    overflow: hidden;

    svg {
      width: 100%;
      height: 100%;
    }

    @include vp-1023 {
      width: 655px;
      height: 419px;
      top: -180px;
      right: -170px;
    }

    @include vp-767 {
      width: 655px;
      height: 419px;
      top: -180px;
      right: -205px;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1023px;
    width: 100%;
    transition: opacity $trans-default, visibility $trans-modal;
    visibility: visible;
    opacity: 1;


    @include vp-1023 {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      max-width: 1023px;
      width: 100%;
      height: 100vh;
      margin: 0;
      padding-bottom: 42px;
      background-color: $color-default-black;
      visibility: hidden;
      opacity: 0;
    }
  }
}
