.page-intro {

  .container {
    position: relative;
  }

  &__wrapper {
    width: 540px;

    @include vp-767 {
      max-width: 700px;
      width: auto;
    }
  }

  &__inner {
    p {
      width: 446px;
      margin: 12px 0 0;
      font-weight: 300;

      @include vp-767 {
        max-width: 400px;
        width: auto;
      }
    }

    .btn {
      margin-top: 32px;
      user-select: none;
    }
  }

  &__decor-man {
    position: absolute;
    top: -634px;
    left: 38.5%;
    z-index: -1;
    width: 987px;
    height: 760px;

    svg,
    img {
      width: 100%;
      height: 100%;
    }

    @include vp-1919 {
      left: 38.2%;
    }

    @include vp-1439 {
      top: -564px;
      width: 880px;
      height: 677px;
    }

    @include vp-1023 {
      width: 659px;
      height: 515px;
      top: -428px;
      left: 30%;
    }

    @include vp-767 {
      top: -429px;
      left: 9.4%;
    }

    @include vp-374 {
      top: -326px;
      left: -1.4%;
      width: 500px;
      height: 391px;
    }
  }

  &__decor-rectangle {
    position: absolute;
    top: -195px;
    left: 37%;
    width: 196px;
    height: 128px;

    svg,
    img {
      width: 100%;
      height: 100%;
    }

    @include vp-1919 {
      left: 31.4%;
    }

    @include vp-1439 {
      left: 35%;
    }

    @include vp-1279 {
      left: 40%;
    }

    @include vp-1023 {
      top: -270px;
      left: 14%;
    }

    @include vp-767 {
      top: -273px;
      left: 4%;
    }

    @include vp-374 {
      top: -173px;
      left: 0;
      width: 140px;
      height: 92px;
    }
  }

  .privilege-card__inner {
    .title--h3 {
      margin-top: 43px;

      @include vp-767 {
        margin-top: 41px;
      }
    }
  }

  .happy-client {
    margin: 81px 0 104px;

    @include vp-1023 {
      margin: 32px 0 417px;
    }

    @include vp-374 {
      margin: 32px 0 317px;
    }
  }
}
