mixin about-content(data = {})
  - const {list, button, decorMan, decorGlasses, textTitle, text} = data

  .about-content(data-parallax-box)&attributes(attributes)
    .container(data-trigger)
      .about-content__wrapper
        .about-content__decor
          .about-content__decor-man-inner
            .about-content__decor-man(data-parallax-mouse, data-movement="50")
              +picture(decorMan.path, decorMan.image, decorMan.format, decorMan.width, decorMan.height, decorMan.altText)
          .about-content__decor-glasses(data-parallax-mouse, data-movement="20")
            +picture(decorGlasses.path, decorGlasses.image, decorGlasses.format, decorGlasses.width, decorGlasses.height, decorGlasses.altText)
        .about-content__box
          .about-content__inner
            +title({tag: "h2", text: "ABOUT US"}).title--h2
            .about-content__designation
              p !{textTitle.text}
          .about-content__content
            .about-content__inner-text
              each item in text
                .about-content__text
                  p !{item.textParagraph}
            if list
              ul.about-content__list
                each item in list
                  li.about-content__item
                    span.about-content__item-icon
                      +icon("icon-check-mark", 16, 16, true)
                    .about-content__item-text
                      p !{item.text}
            if button
              +btn({href: button.href, text: button.text})(aria-label="Переход по ссылке")
