mixin author-date(data = {})
  - const authorName = data.authorName || "";
  - const date = data.date || "";

  .author-date
    if authorName
      .author-date__text
        p !{authorName + "&nbsp;|"}
    +date({text: date})
