mixin happy-client(data = {})
  - const number = data.number || "";
  - const text = data.text || "";

  .happy-client&attributes(attributes)
    .happy-client__foto
      ul.happy-client__list
        each item in data.foto
          li.happy-client__item(class=`happy-client__item--${item.number}`)
            +picture(item.path, item.image, item.format, item.width, item.height, item.altText)
    .happy-client__text-inner
      span !{number}
        span
          +icon("icon-decor-element", 48, 7, true)
      span !{text}
