mixin hashtag(data = {})
  - const hashtags = data.hashtags || "";
  - const title = data.title || "";

  .hashtag&attributes(attributes)
    if data.postTags
      +title({tag: "h3", text: title}).title--h3.title--600
      ul.hashtag__list
        each item in hashtags
            li.hashtag__item
              span !{"#" + item.text}
    else
      +title({tag: "h3", text: title}).title--h3.title--500
      ul.hashtag__list.hashtag__list--popular
        each item in hashtags
          li.hashtag__item
            span !{"#" + item.text}
