mixin price-card(data={ })
  - const title = data.title;
  - const price = data.price;
  - const href = data.href;
  - const text = data.text;
  - const warranty = data.warranty;

  .price-card&attributes(attributes)
    p.price-card__title !{title}
    p.price-card__price !{price}
    +btn({href: href, text: text})(aria-label="Переход по ссылке")
    p.price-card__warranty !{warranty}
