mixin privilege-card(data = {})
  - const {name, width, height, gradient} = data.icon;
  - const title = data.title || "";
  - const text = data.text || "";

  .privilege-card&attributes(attributes)
    span.privilege-card__icon
      +icon(name, width, height, gradient)
    +title({text: title}).title--h3
    .privilege-card__text
      p!=text
