mixin sidebar-card(data = {})
  - const {href, label, path, image, format, width, height, altText, badge, text} = data;

  .sidebar-card&attributes(attributes)
    +link({href, label})
      +picture(path, image, format, width, height, altText)
      .sidebar-card__inner
        +badge({text: badge})
        p.sidebar-card__text !{text}
