mixin team-card(data = {})
  - const picture = data.picture

  .team-card
    +picture(picture.path, picture.image, picture.format, picture.width, picture.height, picture.altText)
    .team-card__inner
      p.team-card__name !{data.name}
      p.team-card__job-title !{data.jobTitle}
