mixin title-page(data = {})
  - const {title} = data

  .title-page&attributes(attributes)
    .title-page__wrapper
      if title
        +title({tag: "h1", text: title.text}).title--h1
        .title-page__decor-element
          +icon("decor-element", 669, 367, true)
      block
