mixin video(data = {})
  - const { path, image, format, width, height, altText } = data.image
  - const { src, dataSrc } = data.video

  .video(data-player="container")&attributes(attributes)
    .video__cover
      +img(path, image, format, width, height, altText)
    +btn({icon:
      {
        name: "button-play", width: "100", height: "100"
      }
    }).video__button(aria-label="Воспроизвести видео")
    video(src=src, data-src=dataSrc, data-video, controls="controls")
