.page-content {
  overflow: hidden;
  padding: 112px 0 67px;
  margin: 0 auto;

  @include vp-1023 {
    padding: 154px 0 52px;
  }

  @include vp-767 {
    padding: 154px 0 92px;
  }

  &--105 {
    @include vp-767 {
      padding: 105px 0 92px;
    }
  }
}
