.share {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.8;
    }
  }

  .title--600 {
    margin-bottom: 12px;
  }
}
