mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Home"
      },
      {
        href: "#",
        text: "About us"
      },
      {
        href: "#",
        text: "Service"
      },
      {
        href: "#",
        text: "Pricing Plan"
      },
      {
        href: "#",
        text: "Blog"
      },
    ]

    const button = {
      href: "#footer",
      text: "Contact us",
    }

  header.header(class=headerMods)
    .container
      .header__wrapper
        if(currentUrl === "index.html")
          +logo({header: true})
        else
          +logo({header: true, href: "index.html"})
        nav.main-nav
          button.header__button.header__button--open.active(type="button", aria-label="Открыть меню")
            +icon("icon-burger-open", 16, 16)
          button.header__button.header__button--close(type="button", aria-label="Закрыть меню")
            +icon("icon-burger-close", 16, 16)
          .header__menu.nonactive
            nav.header__nav
              ul.header__list.nonactive
                each link in headerLinks
                  li.header__item
                    +link({href: link.href, label: link.label, isExternal: false, text: link.text, isHeader: true})
              +btn({text: button.text, scrollTo: button.href})(aria-label="Переход к разделу контакты").btn--with-border.btn--capitalize.header__button
