//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Blocks

include ./blocks/intro
include ./blocks/advantages
include ./blocks/page-intro
include ./blocks/about-page-main
include ./blocks/about-page-about
include ./blocks/service
include ./blocks/choose-page-main
include ./blocks/choose-page-about
include ./blocks/started
include ./blocks/price
include ./blocks/partners
include ./blocks/form
include ./blocks/title-page-about
include ./blocks/title-page-blog
include ./blocks/team

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/page-content
include ./mixins/page-section
include ./mixins/logo
include ./mixins/link
include ./mixins/socials
include ./mixins/list-link
include ./mixins/title
include ./mixins/privilege-card
include ./mixins/happy-client
include ./mixins/video
include ./mixins/price-card
include ./mixins/about-content
include ./mixins/breadcrumbs
include ./mixins/team-card
include ./mixins/choose-content
include ./mixins/title-page
include ./mixins/date
include ./mixins/author-date
include ./mixins/hashtag
